<table class="table">
    <thead>
        <tr>
            @foreach (var item in Columns)
            {
                <th>@item</th>
            }
        </tr>
    </thead>
    <tbody>
        <CascadingValue Value="@this" IsFixed="true">
            <CascadingIsFixedRowCollection Data="@Data"
                                           Columns="@Columns"
                                           OnClick="@RefreshComponent">
            </CascadingIsFixedRowCollection>
        </CascadingValue>
    </tbody>
</table>

@code {
    [Parameter]
    public List<WeatherForecast> Data { get; set; }

    [Parameter]
    public List<string> Columns { get; set; }

    Task RefreshComponent()
    {
        StateHasChanged();
        return Task.CompletedTask;
    }
}